@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="d-flex justify-content-center align-items-center min-vh-50">
    <div class="text-center">
        <img src="~/images/access-denied.png" alt="Acceso no permitido" class="img-fluid mb-4" style="max-width: 200px;" />
        <h1>Acceso Denegado</h1>
        <p>No tienes permiso para acceder a esta página.</p>
    </div>
</div>